<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%p] %m (%c)%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="software.amazon.awssdk" level="WARN"/>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>